<template>
  <div class="contentContainer">
    <div class="headerProject">
      <h1>CHANGE COLOR EXAMPLE</h1>
    </div>
    <div class="content" :style="{ backgroundColor: hexCode }">
      <div class="changeColor">
        <div class="colorText">{{ hexCode }}</div>
        <div class="btn">
          <button class="randomBtn" @click="changeColor">
            Random Color
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      hexCode: "",
    };
  },
  methods: {
    changeColor() {
      this.hexCode = "#" + Math.floor(Math.random() * 16777215).toString(16);
    },
  },
};
</script>

<style>
.changeColor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px;
}
.changeColor .colorText {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #457b9d;
}
</style>
