<template>
  <div class="contentContainer">
    <div class="headerProject">
      <h1>COUNTER EXAMPLE</h1>
    </div>
    <div class="content">
      <div class="counter">
        <div class="number">
          <span class="count">{{ counter }}</span>
        </div>
        <div class="counter-btn">
          <button @click="counter--" class="increase">-</button>
          <button @click="counter = 0" class="reset">Reset</button>
          <button @click="counter++" class="decrease">+</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      counter: 0,
    };
  },
};
</script>

<style>
.counter {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 50px;
}
.counter .number {
  margin-bottom: 30px;
}
.counter .number span {
  font-size: 48px;
  font-weight: 600;
  color: #457b9d;
  padding: 20px;
}
</style>
