@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 10px 0 0;
  font-size: 24px;
  font-weight: 600;
  color: #023047;
  background-color: #ffb703;
}

button:hover {
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.15);
}

input {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #219ebc;
  font-size: 18px;
}

input:focus {
  outline: none;
}

input:hover {
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.15);
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.container .contentContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 50px 100px;
}

.container .contentContainer .headerProject {
  width: 50%;
}

.container .contentContainer .headerProject h1 {
  font-size: 24x;
  font-weight: 500;
}

.container .contentContainer .content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 400px;
  border: 1px solid #1d3557;
  border-radius: 10px;
  background-color: #def0f7;
}

.counter {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 50px;
}

.counter-number {
  margin-bottom: 30px;
}

.counter-number span {
  font-size: 48px;
  font-weight: 600;
  color: #457b9d;
  padding: 20px;
}

.counter-btn {
  display: flex;
  justify-content: space-around;
}

.changeColor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px;
}

.changeColor-colorText {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #457b9d;
}

.form-inputSection {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-inputSection label {
  font-size: 18px;
  margin-bottom: 7px;
}

.form-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.form-btn button:last-child {
  margin-right: 0;
}
/*# sourceMappingURL=style.css.map */