<template>
  <div class="container">
    <Counter />
    <ColorFlipper />
  </div>
</template>

<script>
import Counter from "./components/Counter.vue";
import ColorFlipper from "./components/ColorFlipper.vue";
export default {
  components: {
    Counter,
    ColorFlipper,
  },
};
</script>

<style></style>
